test/data/optionalchoice/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root" type="RootType"/>
	<xsd:complexType name="RootType">
        <xsd:choice minOccurs="0">
            <xsd:element name="a" type="xsd:integer"/>
            <xsd:element name="b" type="xsd:integer"/>
        </xsd:choice>
    </xsd:complexType>
</xsd:schema>